@model IEnumerable<ItemViewModel>

@{
    ViewData["Title"] = "ALL Items";
}



<a class="btn btn-secondary btn-lg" asp-action="Create">
    <i class="bi bi-plus-circle-dotted"></i>
    Add Item
</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Store</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="itm">
                <td>@item.Name</td>
                <td>@item.StoreId</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Edit</a> |
                    <a href="javascript:;" class="btn btn-danger js-delete" data-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
 {
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {
                var btn = $(this);

                var result = confirm('Are You Sure That You Need To Delete This Item?');
                if (result) {
                    $.ajax({
                        url: '/Item/delete/' + btn.data('id'),
                        success: function () {
                            var ItemContainer = btn.parents('.itm');
                            ItemContainer.addClass('animate__animated animate__zoomOut');

                            setTimeout(function () {
                                ItemContainer.remove();
                            }, 1000);

                            toastr.success('Item deleted');
                        },
                        error: function () {
                            toastr.error('Something went wrong!');
                        }
                    });
                }

            })
        });


    </script>
}

